.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  ul li{
    padding: 1rem
  }

  text-align: center;
  background: #333;
  color: #fff;
}

.logo{
  font-size: 2rem;
  display: block;
}


.dropdown-menu{
  padding: 0 2rem;
}
