.test{
  background: #242426;
  padding: 6rem 1rem;
  display: block;
}

.photosContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
  float: top;
}

.photo{
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  margin: 1rem;
  border: 3px solid #333;
  border-radius: 30px;
  background: #fff;
  width: 15%;
  p{
    display: block;
    margin: 1rem;
    padding: 0;
    color: #000;
  }
}


@media(max-width: 1025px) {
  //4 img in row
  .photo{
    width: 20%;
  }
}

@media(max-width: 769px) {
  //3 img in row
  .photo{
    width: 25%;
  }
}

@media(max-width: 426px) {
  //2 img in row
  .photo{
    width: 40%;
  }
}

@media(max-width: 376px) {
  //1 image in row
  .photo{
    width: 90%;
  }
}


