@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  background:  top / cover no-repeat url("/forestjpg.jpg") fixed;
  font-family: Arial, sans-serif;
  &, div{
    padding: 0;
    margin: 0;
  }
  div {
    display: inline-block;
    box-sizing: border-box;
  }}

ul, li{
  border: none;
}

a{
  text-decoration: none;
}

.container-fluid{
  padding-top: 5rem;
}

@media(max-width: 769px) {
  .container-fluid{
    padding: 0;
  }
}

@media(min-width: 1439px) {
  .container{
    max-width: 80%;
  }
}
